/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
@import url(./fonts/source-sans-pro/source-sans-pro.css);
section.has-light-background,
section.has-light-background h1,
section.has-light-background h2,
section.has-light-background h3,
section.has-light-background h4,
section.has-light-background h5,
section.has-light-background h6 {
  color: #222;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
:root {
  --background-color: #000;
  --main-font: 'Roboto Mono', monospace;
  --main-font-size: 42px;
  --main-color: #fff;
  --block-margin: 20px;
  --heading-margin: 0 0 20px 0;
  --heading-font: 'Roboto Mono', monospace;
  --heading-color: #fff;
  --heading-line-height: 1.2;
  --heading-letter-spacing: normal;
  --heading-text-transform: uppercase;
  --heading-text-shadow: none;
  --heading-font-weight: 600;
  --heading1-text-shadow: none;
  --heading1-size: 2.5em;
  --heading2-size: 1.6em;
  --heading3-size: 1.3em;
  --heading4-size: 1em;
  --code-font: monospace;
  --link-color: #42affa;
  --link-color-hover: #8dcffc;
  --selection-background-color: #bee4fd;
  --selection-color: #fff;
}

.reveal-viewport {
  background: #000;
  background-color: #000;
}

.reveal {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}

.reveal ::selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none;
}

.reveal ::-moz-selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none;
}

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 5px 0;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  text-shadow: none;
  white-space: 2;
  letter-spacing: 0.25em;
}

.reveal h1 {
  font-size: 2.5em;
}

.reveal h2 {
  font-size: 1.9em;
}

.reveal h3 {
  font-size: 1.4em;
}

.reveal h4 {
  font-size: 1.2em;
}

.reveal h5 {
  font-size: 1em;
}

.reveal h6 {
  font-size: 0.8em;
}

.reveal h1 {
  text-shadow: none;
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3;
}

/* Remove trailing margins after titles */
.reveal h1:last-child,
.reveal h2:last-child,
.reveal h3:last-child,
.reveal h4:last-child,
.reveal h5:last-child,
.reveal h6:last-child {
  margin-bottom: 0;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

.reveal strong,
.reveal b {
  font-weight: bold;
}

.reveal em {
  font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ul {
  list-style-type: disc;
}

.reveal ul ul {
  list-style-type: square;
}

.reveal ul ul ul {
  list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal dt {
  font-weight: bold;
}

.reveal dd {
  margin-left: 40px;
}

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}

.reveal q {
  font-style: italic;
}

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.reveal code {
  font-family: monospace;
  text-transform: none;
}

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

.reveal table th[align='center'],
.reveal table td[align='center'] {
  text-align: center;
}

.reveal table th[align='right'],
.reveal table td[align='right'] {
  text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none;
}

.reveal sup {
  vertical-align: super;
  font-size: smaller;
}

.reveal sub {
  vertical-align: sub;
  font-size: smaller;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}

.reveal img {
  margin: 20px 0;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #fff;
  text-decoration: none;
  transition: color 0.15s ease;
}

.reveal a:hover {
  color: #fff;
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: #068de9;
}

/*********************************************
 * Frame helper
 *********************************************/
.reveal .r-frame {
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal a .r-frame {
  transition: all 0.15s linear;
}

.reveal a:hover .r-frame {
  border-color: #42affa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #42affa;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #42affa;
}

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #191919;
  }
}

.reveal .mirrortext {
  text-shadow: 0 0 0.15em #1da9cc;
  user-select: none;
  filter: blur(0.007em);
  animation: shake 2.5s linear forwards;
  animation-iteration-count: infinite;
}

@keyframes shake {
  5%,
  15%,
  25%,
  35%,
  55%,
  65%,
  75%,
  95% {
    filter: blur(0.018em);
    transform: translateY(0.018em) rotate(0deg);
  }

  10%,
  30%,
  40%,
  50%,
  70%,
  80%,
  90% {
    filter: blur(0.01em);
    transform: translateY(-0.018em) rotate(0deg);
  }

  20%,
  60% {
    filter: blur(0.03em);
    transform: translate(-0.018em, 0.018em) rotate(0deg);
  }

  45%,
  85% {
    filter: blur(0.03em);
    transform: translate(0.018em, -0.018em) rotate(0deg);
  }

  100% {
    filter: blur(0.007em);
    transform: translate(0) rotate(-0.5deg);
  }
}

.full {
  height: 100%;
  width: 100%;
}

.reveal .profile .avatar {
  filter: brightness(80%);
}

.reveal .profile a:hover .avatar {
  border: 10px solid rgba(196, 196, 196, 0.2);
  filter: brightness(100%);
}

.reveal .profile .avatar border {
  mix-blend-mode: saturation;
}

@media screen and (min-width: 300px) and (max-width: 820px) and (min-height: 540px) and (max-height: 1280px) {
  .reveal {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
  }

  .reveal .display-none {
    display: none;
  }
  .reveal .value-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
  }

  .reveal .value-link {
    flex-basis: 100%;
  }

  .reveal .value-box {
    flex-grow: 1;
    flex-basis: 90%;
    min-height: 400px;
  }

  .reveal .value-text {
    position: relative;
    width: 90%;
    margin-left: 5%;
    height: 250px;
  }

  .reveal .value-description p {
    color: #000;
    font-family: 'Roboto Mono';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.25em;
    text-align: justify;
    line-height: 45px;
  }

  .reveal #valores-description p {
    text-align: center;
    line-height: 15px;
    padding-top: 15px;
  }

  .reveal .container {
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15%;
    justify-content: space-around;
  }
  .reveal .profile {
    font-size: 16px;
    flex-grow: 2;
    flex-basis: 50%;
    min-width: 100px;
  }
  .reveal .profile .avatar {
    width: 70px;
    border-radius: 50%;
  }

  .reveal .profile .avatar-title {
    font-size: 0.8em;
  }

  .reveal .profile .avatar-subtitle {
    font-size: 0.8em;
  }

  .reveal .whatwedo {
    width: 90%;
    margin-left: 4%;
  }

  .reveal .whatwedo h3 {
    font-size: 11px;
    text-align: left;
    font-style: normal;
    font-weight: 200;
    letter-spacing: 0.25em;
    line-height: 35px;
    margin-top: 4%;
  }

  .reveal .whatwedo .blackmark {
    text-align: left;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.25em;
  }
  .reveal .description .title {
    font-size: 16px;
    font-style: normal;
    margin-bottom: 0px;
    font-weight: bold;
  }

  .reveal .description .subtitle {
    font-size: 16px;
    margin-top: 2%;
    font-style: normal;
    margin-bottom: 0px;
    font-weight: 100;
  }

  .reveal .bottom-info .description .title {
    font-style: normal;
    margin-bottom: 0px;
    font-weight: 700;
  }

  .reveal .bottom-info .description .subtitle {
    margin-top: 0px;
    font-weight: 200;
  }
  .reveal .bottom-info .description .title {
    font-size: 10px;
    font-style: normal;
    margin-bottom: 0px;
    font-weight: 700;
    letter-spacing: 0.25em;
  }

  .reveal .bottom-info .description .subtitle {
    margin-top: 0px;
    font-size: 10px;
    font-weight: 200;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) and (min-height: 300px) and (max-height: 440px) {
  .reveal .profile {
    flex-grow: 2;
    flex-basis: 50%;
    min-width: 100px;
  }
  .reveal .profile .avatar {
    width: 80px;
    border-radius: 50%;
    border: 16px solid rgba(196, 196, 196, 0.4);
  }
}

@media screen and (min-width: 600px) and (min-height: 400px) {
  .reveal .value-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .reveal .value-box {
    flex-grow: 1;
    flex-basis: 90%;
    min-height: 400px;
  }

  .reveal .value-text {
    position: relative;
    width: 90%;
    margin-left: 5%;
    height: 250px;
  }

  .reveal .value-description p {
    color: #000;
    font-family: 'Roboto Mono';
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.25em;
    text-align: justify;
    line-height: 70px;
  }

  .reveal #valores-description p {
    text-align: right;
    line-height: 35px;
    padding-top: 15px;
  }

  .reveal .container {
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
    margin-left: 10%;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
  }

  .reveal .profile {
    flex-grow: 1;
    flex-basis: 24%;
    min-width: 120px;
  }

  .reveal .profile .avatar {
    width: 128px;
    border-radius: 50%;
  }

  .reveal .whatwedo {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    height: 100%;
    background: #16171d;
  }

  .reveal .whatwedo .moon {
    width: 50%;
    height: 100vh;
    position: absolute;
    left: 0;
  }

  .reveal .whatwedo .moon img {
    max-height: 100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: block;
  }

  .reveal .whatwedo .info {
    padding: 5rem 0;
    width: 50%;
    z-index: 1;
    margin-right: 2rem;
  }

  .reveal .whatwedo h3 {
    font-size: 16px;
    text-align: left;
    font-style: normal;
    font-weight: 200;
    letter-spacing: 0.3em;
    line-height: 25px;
    margin-top: 10%;
  }

  .reveal .whatwedo .blackmark {
    text-align: left;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.3em;
  }
  .reveal .description .title {
    font-style: normal;
    margin-bottom: 0px;
    font-weight: bold;
  }

  .reveal .description .subtitle {
    margin-top: 2%;
    font-style: normal;
    margin-bottom: 0px;
    font-weight: 100;
  }

  .reveal .bottom-info .description .title {
    font-style: normal;
    margin-bottom: 0px;
    font-weight: 700;
  }

  .reveal .bottom-info .description .subtitle {
    margin-top: 0px;
    font-weight: 200;
  }
  .reveal .bottom-info .description .title {
    font-size: 14px;
    font-style: normal;
    margin-bottom: 0px;
    font-weight: 700;
  }

  .reveal .bottom-info .description .subtitle {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 200;
  }
}

@media screen and (min-width: 1024px) and (min-height: 700px) {
  .reveal .value-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  .reveal .value-box {
    flex-grow: 1;
    flex-basis: 80%;
    min-height: 400px;
  }

  .reveal .value-text {
    position: relative;
    width: 80%;
    margin-left: 10%;
    height: 250px;
  }

  .reveal .value-description p {
    color: #000;
    font-family: 'Roboto Mono';
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.25em;
    text-align: justify;
    line-height: 70px;
  }

  .reveal #valores-description p {
    text-align: right;
    line-height: 35px;
    padding-top: 15px;
  }

  .reveal .container {
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
  }

  .reveal .profile {
    flex-grow: 1;
    flex-basis: 24%;
    min-width: 120px;
  }

  .reveal .profile .avatar {
    width: 156px;
    border-radius: 50%;
  }

  .reveal .whatwedo {
    width: 60%;
    margin-left: 4%;
  }

  .reveal .whatwedo h3 {
    font-size: 16px;
    text-align: left;
    font-style: normal;
    font-weight: 200;
    letter-spacing: 0.3em;
    line-height: 45px;
    margin-top: 5%;
  }

  .reveal .whatwedo .blackmark {
    text-align: left;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.3em;
  }
  .reveal .description .title {
    font-style: normal;
    margin-bottom: 0px;
    font-weight: bold;
  }

  .reveal .description .subtitle {
    margin-top: 2%;
    font-style: normal;
    margin-bottom: 0px;
    font-weight: 100;
  }

  .reveal .bottom-info .description .title {
    font-style: normal;
    margin-bottom: 0px;
    font-weight: 700;
  }

  .reveal .bottom-info .description .subtitle {
    margin-top: 0px;
    font-weight: 200;
    letter-spacing: 0.25em;
  }

  .reveal .bottom-info .description .title {
    font-size: 14px;
    font-style: normal;
    margin-bottom: 0px;
    font-weight: 700;
  }

  .reveal .bottom-info .description .subtitle {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.25em;
  }
}

@media screen and (min-width: 1600px) and (min-height: 920px) {
  .reveal .value-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }

  .reveal .value-box {
    flex-grow: 1;
    flex-basis: 60%;
    min-height: 400px;
  }

  .reveal .value-text {
    position: relative;
    width: 60%;
    margin-left: 20%;
    height: 250px;
  }
  .reveal .value-description p {
    color: #000;
    font-family: 'Roboto Mono';
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.25em;
    text-align: justify;
    line-height: 70px;
  }

  .reveal #valores-description p {
    text-align: right;
    line-height: 35px;
    padding-top: 15px;
  }

  .reveal .container {
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
  }
  .reveal .profile {
    flex-grow: 1;
    flex-basis: 24%;
    min-width: 120px;
  }

  .reveal .profile .avatar {
    width: 156px;
    border-radius: 50%;
  }

  .reveal .whatwedo {
    width: 60%;
    margin-left: 4%;
  }

  .reveal .whatwedo h3 {
    font-size: 20px;
    text-align: left;
    font-style: normal;
    font-weight: 200;
    letter-spacing: 0.3em;
    line-height: 50px;
    margin-top: 5%;
  }

  .reveal .whatwedo .blackmark {
    text-align: left;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.3em;
  }
  .reveal .description .title {
    font-style: normal;
    margin-bottom: 0px;
    font-weight: bold;
  }

  .reveal .description .subtitle {
    margin-top: 2%;
    font-style: normal;
    margin-bottom: 0px;
    font-weight: 100;
  }

  .reveal .bottom-info .description .title {
    font-size: 18px;
    font-style: normal;
    margin-bottom: 0px;
    font-weight: 700;
    letter-spacing: 0.25em;
  }

  .reveal .bottom-info .description .subtitle {
    margin-top: 0px;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 0.25em;
  }
}

.reveal .light-text {
  font-weight: 100;
}

.reveal .profile .profile-description .avatar-title {
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.25em;
}

.reveal .profile .profile-description .avatar-subtitle {
  font-style: italic;
  font-weight: 200;
  letter-spacing: 0.25em;
}

.reveal .bottom-info {
  bottom: 2%;
  width: 100%;
  position: absolute;
}

.reveal .container-full {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.reveal .description {
  flex-grow: 1;
}

.reveal .bottom-info .description .linkedin {
  margin-bottom: 2%;
}

.reveal .bottom-info .link-home a {
  left: 0;
  text-align: left;
  letter-spacing: 0.25em;
  color: rgba(180, 180, 180, 0.8);
}

.reveal .bottom-info .link-home a:hover {
  color: #fff;
}

.reveal .container-full .value-container .value-link h1 {
  font-weight: 100;
  display: inline-block;
}

.reveal .container-full .value-container .value-link h1:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0);
  font-weight: 600;
}

.reveal .value-description {
  position: absolute;
  visibility: hidden;
  width: 100%;
  margin-top: 5%;
  left: 0;
}

.reveal .valueslide {
  margin-top: 20%;
}
.reveal .valueslide .primary-text {
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.25em;
}

.reveal html.dim .backgrounds {
  -webkit-filter: blur(50px) saturate(0.5) brightness(0.8);
  -moz-filter: blur(40px) saturate(0.7) brightness(0.9);
  -o-filter: blur(40px) saturate(0.7) brightness(0.9);
  -ms-filter: blur(40px) saturate(0.7) brightness(0.9);
  filter: blur(40px) saturate(0.7) brightness(0.9);
}

/* Home Slide */
.gif-background {
  position: absolute;
  height: 100vh;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.gif-background img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.gif-background.home img {
  opacity: 0.25;
}

.gif-background.mision img {
  opacity: 0.95;
}

.gif-background.contact img {
  opacity: 0.25;
}

.gif-background.final-page img {
  opacity: 0.55;
}

.projects {
  height: 100%;
  display: flex;
}
.projects-container {
  width: 80%;
  height: 45%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project {
  width: 20%;
  height: 20px;
  background: rgba(0, 0, 0, 0.8);
  padding: 1rem 0.2rem;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  transition: 0.2s ease-in-out;
}

.project .project-name {
  font-weight: 300;
}

.project .project-logos {
  margin-top: 0.4rem;
  height: 130px;
  visibility: hidden;
}

.project .project-logos .project-logo {
  height: 80px;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.project.show {
  height: 150px;
}

.project.show .project-logos {
  visibility: visible;
}

.projects-second-line,
.projects-first-line {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-self: flex-end;
}

.projects-first-line {
  align-self: flex-start;
}

@media screen and (max-width: 560px) {
  .projects-second-line,
  .projects-first-line {
    width: 48%;
    display: block;
  }
  .project {
    width: 100%;
    margin-bottom: 1rem;
  }
  .projects-second-line {
    align-self: flex-start;
  }
}

@media screen and (max-width: 760px) {
  .reveal .whatwedo {
    width: 100% !important;
    margin: 0 !important;
  }

  .reveal .whatwedo .moon {
    right: 0;
    opacity: 0.1;
    position: absolute;
  }

  .reveal .whatwedo .info {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .reveal .whatwedo h3 {
    text-align: center;
  }
}
